// ────────────── Output Configuration ──────────────
// You can run `niri msg outputs` to get the correct name for your displays.
// You will have to remove "/-" and edit it before it takes effect.
// https://github.com/YaLTeR/niri/wiki/Configuration:-Outputs

output "eDP-1"{
   mode "2560x1600@240.000"
   scale 1.42
   position x=0 y=0
   variable-refresh-rate on-demand=true
}

/- output "DP-1" {
    mode "2560x1440@359.979" // Set resolution and refresh rate
    scale 1 // No scaling (use 2 for HiDPI)
}

output "HP Inc. HP E27q G4 CNK3231JZT"{
  mode "2560x1440@74.968"
  scale 1.1
  position x=1807 y=0
}

output "HP Inc. HP E27q G5 CNC3400KH1"{
  mode "2560x1440@59.951"
  scale 1.1
  position x=1807 y=0
}

output "Xiaomi Corporation Redmi 27 NU 3948624N52158"{
    mode "3840x2160@60.000"
    scale 1.5
    position x=1808 y=0
}

output "Invalid Vendor Codename - RTK Monitor 0xBE899F0B"{
    mode "2560x1440@119.999"
    scale 1.42
    position x=0 y=0
}
