layout {

    focus-ring {
        active-color   "#7797a6"
        inactive-color "#1d2129"
        urgent-color   "#bf616a"
    }

    border {
        active-color   "#7797a6"
        inactive-color "#1d2129"
        urgent-color   "#bf616a"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#7797a6"
        inactive-color "#223c48"
        urgent-color   "#bf616a"
    }

    insert-hint {
        color "#7797a680"
    }
}

recent-windows {
    highlight {
        active-color "#7797a6"
        urgent-color "#bf616a"
    }
}
